.video{
    min-height: 100Vh;
    margin-top: 40px;
    &-wrap{
        margin: 0 auto;
        margin-top: 60px;
        width: 768px;
        @media only screen and (max-width: 769px){
            width: 100%;
        }
    }
    &-item{
        width: 768px;
        height: 458px;
        margin: 0 auto;
        border-radius: 10px;
        iframe{
            width: 742px; 
            height: 432px;
        }
        @media only screen and (max-width: 769px){
            width: 100%;
            height: auto;
            iframe{
                width: 100%;
                height: auto;
            }
        }
    }
    & .slick-prev, & .slick-next{
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: #ffffff; 
        border-radius: 100%;
        z-index: 2;
        &:before {
            font-family: 'slick';
            font-size: 20px;
            line-height: 1;
            opacity: .75;
            color: $purple;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    & .slick-prev {
        left: 25px;
        &:before {
            content: '←';
        }
    }

    & .slick-next {
        right: 25px;
        &:before {
            content: '→';
        }
    }

    .slick-dots{
        margin-top: 60px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        li[class="slick-active"] button {
            background: #18abab;
        }
        button {
            background: #b41e8e; // цвет фона
            border: none; // без рамки
            border-radius: 50%; // радиус закругления
            height: 15px; // высота точки
            width: 15px; // ширина точки
            margin: 5px; // отступы между точками
            outline: none; // убираем обводку
            color: rgba(#FFFFFF, 0);
        }
    }
}